.flow-session{

    text-align: center;

    .event-frame{
        padding: 2rem;
        margin: 1rem;
        margin-bottom: 2rem;
        background-color: gray;
        border-radius: 5px;

        &.root {
            background-color: rgb(31, 38, 46);
            color: white;
        }

        &.selected {
            background-color: rgb(72, 107, 148);
            color: white;
        }
        &.focused {
            border: solid 4px orangered;
        }

    }

    .add-event-form {
        .context-switch  {
            button {
                background-color: lightgray;
                color: gray;

                &.active {
                    background-color: darkgray;
                    color: white;
                }
            }
        }
    }

    .flow-counter {
        button {
            &.active {
                background-color: orangered;
                color: white;
                font-weight: bolder;
            }
        }
    }




}